@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --violet-color: hsl(277, 64%, 61%);
  --white-color: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: var(--very-dark-blue);
}

img {
  max-width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--Dark-desaturated-blue);
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 1rem;
  max-width: 1140px;
  margin: 2rem;
}

.card-content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.card-content .block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}

.card-content h1 {
  font-size: 3.4rem;
  color: var(--white-color);
  letter-spacing: 0.3rem;
  margin-bottom: 2.8rem;
  line-height: 4rem;
}

.card-content h1 span {
  color: var(--violet-color);
}

.card-content p {
  color: var(--transparent-white);
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.3rem;
}

.card-img {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card-img .img {
  background: url("../images/image-header-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.img-mobile {
  display: none;
}
