@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-blue: hsl(244, 38%, 16%);
  --violet-color: hsl(277, 64%, 61%);
  --white-color: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--very-dark-blue);
}

.card {
  background: var(--dark-blue);
  margin: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
