@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --violet-color: hsl(277, 64%, 61%);
  --white-color: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--main-bg);
  font-family: "Lexend Deca", sans-serif;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 4rem;
}

.card {
  background-color: var(--card-bg);
  margin: 3rem 0;
  border-radius: 10px;
}

.image-wrapper {
  background-color: var(--violet-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-area: img;
}

.image-wrapper img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.text-wrapper {
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  grid-area: text;
}

.text-wrapper h1 {
  font-size: 3.5rem;
  color: var(--white-color);
  text-align: center;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.text-wrapper h1 span {
  color: var(--violet-color);
}

.text-wrapper p {
  color: var(--transparent-white);
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
  font-weight: lighter;
  letter-spacing: 2px;
}

.stats-wrapper {
  padding: 2rem 3rem;
  grid-area: stats;
}

.stats-wrapper .stat {
  text-align: center;
  margin-bottom: 3rem;
}

.stats-wrapper .stat h2 {
  font-size: 3.2rem;
  color: var(--white-color);
  font-weight: lighter;
}

.stats-wrapper .stat p {
  color: var(--slightly-transparent-white);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: grid;
    grid-template-areas:
      "text img img"
      "stats img img";
  }

  .image-wrapper {
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }

  .text-wrapper {
    padding: 3rem 8rem;
    margin: 2rem auto;
  }

  .text-wrapper h1 {
    font-size: 4.5rem;
    color: var(--white-color);
    text-align: left;
    font-weight: lighter;
    margin-bottom: 1rem;
  }

  .text-wrapper p {
    text-align: left;
    max-width: 90%;
  }

  .stats-wrapper {
    padding: 0;
    margin: 0 auto;
    grid-area: stats;
    /* max-width: 70%; */
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }

  .stats-wrapper .stat {
    text-align: center;
    margin-bottom: 3rem;
  }

  .stats-wrapper .stat h2 {
    font-size: 3.2rem;
    font-weight: lighter;
  }

  .stats-wrapper .stat p {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}
